* { 
	margin:0; 
	padding: 0;  
}

.main-container {
	width: 1000px; 
    margin: auto;
    padding: auto; 
}

.header {
	display: flex;
	background-color: #2e2e2e;
	justify-content: space-between;
	 

}

.header-btn {
	display: flex;
	margin: 0px;
    padding: 20px;

}

.header-btn li {
	margin-right: 5px;
	list-style: none;
	
}

.header-btn a {
	font-size: 12px;
	line-height: 14px;
	font-family: "Georgia";
	color: rgb(159,159,159);
    text-decoration: none;
    border-right: 1px solid rgb(159,159,159);
    padding-right: 5px;
}

.header-btn li:last-child a {
	border: none;
}


.header-social-btn {
	list-style: none;
	display: flex;
	margin: 8px 15px;
	font-size: 0;
}

.header-social-btn li {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background-color: #787878;
	margin: 5px;
}

.header-social-btn a {

}

.linkedin {
	cursor: pointer;
	background: url(../img/icon-linkedin.png) 8px 8px no-repeat;
}

.linkedin:hover {
	background-color: #0e76a8;
}

.twitter {
	cursor: pointer;
	background: url(../img/icon-twitter.png) 8px 8px no-repeat;
}

.twitter:hover {
	background-color: #00acee;
}

.pinterest {
	cursor: pointer;
	background: url(../img/icon-pinterest.png) 8px 8px no-repeat;
}

.pinterest:hover {
	background-color: #c8232c;
}

.google {
	cursor: pointer;
	background: url(../img/icon-google-plus.png) 8px 8px no-repeat;
}

.google:hover {
	background-color: #db4a39;

}

.rss {
	cursor: pointer;
	background: url(../img/icon-rss.png) 10px 8px no-repeat;
}
.rss:hover {
	background-color: #ee802f;
}

.header-menu-nav {
	width: 1000px;
    padding: 0px 60px;
}

.menu-nav {
	width: 1000px;
    list-style: none;
    display: flex;
    margin: 30px;
    margin-left: -40px;


}

.menu-nav li {
	text-transform: uppercase;
	font-family: "Georgia";
	margin: 10px;
	margin-left: -20px;

}

.menu-nav a {
	text-decoration: none;
	color: rgb(46,46,46);
	font-size: 14px;
	line-height: 14px;
	border-bottom: 5px solid #f1f1f1;
	padding: 10px;
	margin-left: 10px;
}

.menu-nav a:active {
	color: rgb(159,159,159);
	border-bottom: 5px solid #0099ff;
	padding-bottom: 15px; 
	padding: 10px;
	margin-left: 10px;
}

.text-block {
	display: flex;
	justify-content: space-between;
}

.text {
	font-size: 36px;
    line-height: 43px;
    color: rgb(51,51,51);
    font-family: "Georgia";
    margin: 20px 20px;

}
.nobody {
	font-size: 36px;
	line-height: 43px;
	color: rgb(51,51,51);
}
.psd {
	font-size: 12px;
	line-height: 14px;
	color: rgb(153,153,153);
	margin: 10px 0;
}

.btn-search {
	width: 215px;
	height: 31px;
	border-radius: 7px;
	background-color: #f1f1f1;
	margin-top: 50px;
	outline: none;
}

.btn {
	width: 68px;
	height: 37px;
	border-radius: 7px;
	background-color: #0099ff;
	color: white;
	outline: none;
}

.descriptive {
	width: 1000px;
	height: 450px;
	background-color: #f1f1f1;
}

.text-descriptive {
	width: 380px;
	height: 83px;
	font-size: 36px;
	line-height: 36px;
	color: rgb(51,51,51);
	padding: 120px 20px;
	font-family: "Georgia";
}

.small-text-descriptive {
	width: 376px;
	height: 79px;
	font-size: 16px;
	line-height: 22px;
	color: rgb(102,102,102);
	padding: 20px;
    margin-top: -170px;
    font-family: "Georgia";
}

.btn-read {
    margin: -30px 0;
}

.big-box {
	background-image: url(../img/Rectangle.PNG);
}

.block-image {

}

.btn-read input {
	width: 126px;
	height: 31px;
	border-radius: 7px;
	background-color: #0099ff;
	font-size: 16px;
	outline: none;
	font-size: 16px;
	line-height: 16px;
	color: rgb(255,255,255);
	font-family: "Georgia";
	text-align: right;
	margin: 0 20px;
}